* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background-image: url(/assets/images/bg-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  backdrop-filter: blur(8px);
  margin: auto;
  z-index: 0;
}

.container {
  width: 40%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

@media (min-width: 1920px) {
  div.container {
    width: 30%;
  }
}

@media (max-width: 428px) {
  div.container {
    width: 100%;
  }
}

/* @media (max-width:820px){
    div.container {
        width: 50%;
    }
} */

@media (max-width: 280px) {
  div.btn a {
    font-size: 14px;
  }
  div.btn {
    padding: 15px;
  }
}

/* Image style */

.img-container img {
  max-width: 200px;
  border-radius: 100%;
  border: 2px solid #0102fc;
  box-shadow: 0px 0px 10px 0px rgba(1, 2, 252, 0.5);
}

.img-container p {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  background-color: #000;
  color: #fff;
  border-radius: 100px;
  border: 2px solid #0102fc;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  box-shadow: 0px 0px 5px 0px rgba(1, 2, 252, 0.5);
}

.img-container {
  margin-bottom: 2rem;
}

/* Button Style */

.btn a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  transition: color 400ms ease-in-out;
  letter-spacing: 2px;
}

.btn {
  padding: 15px 25px;
  background-color: rgba(1, 2, 252, 0.2);
  backdrop-filter: blur(100px);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 01);
  border-radius: 100px;
  width: 95%;
  display: flex;
  justify-content: center;
  transition: background-color 400ms ease-in-out;
  margin: 0.8rem 0;
}

.btn:hover {
  background-color: rgba(1, 2, 252, 0.4);
}


